#progress_bar_area {
  width: 300px;
  padding: 5px;
}

#drop_area {
  display: table-cell;
  border: 2px dotted #008000;
  width: 300px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

#drop_area strong {
  color: #000;
}
